<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de ventas</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
            <tr>
                <td>{{ venta.id }}</td>
                <td>{{ venta.cliente.nombre }}</td>
                <td>{{ venta.fecha_venta }}</td>
                <td>{{ venta.precio_unitario }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay ventas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>